@import "./fonts.scss";
@import "./vendors/swiper.scss";

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.375rem;
}

blockquote {
  margin: 0;
  p {
    font-size: 1.125rem;
    font-style: italic;
    margin-left: 6.25rem;
  }

  footer {
    font-size: 0.875rem;
    color: $gray;
    margin-left: 6.25rem;
  }

  &::before {
    content: url("/assets/icons/blockquote.svg");
    position: absolute;
  }
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

li {
  list-style-image: url("/assets/icons/rhombus.svg");
}
